html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-family: 'Noto Sans TC', 'Open Sans';
}

body {
    background-color: rgb(255, 255, 255);
}

div{
    overflow: hidden;
}

.red-bg {
    background-color: red;
}

.yellow-bg {
    background-color: yellow;
}

.green-bg {
    background-color: green;
}

.red-tx {
    color: red;
}

.yellow-tx {
    color: yellow;
}

.green-tx {
    color: green;
}

.border {
    position: fixed;
    margin: 0;
    overflow: hidden;
    z-index: 100;
    transition: all 0.2s linear
}

#left-border, #right-border {
    top: 0;
    bottom: 0;
    width: 40px;
}

#left-border {
    left: 0;
}

#right-border {
    right: 0;
}

#top-border, #bottom-border {
    left: 40px;
    right: 40px;
    height: 40px;
}

#top-border {
    top: 0;
}

#bottom-border {
    bottom: 0;
}

#urlControl>input {
    width: 4em;
}

#urlId {
    background-color: rgb(214, 214, 214);
    border: none;
    text-decoration: underline;
}

.control {
    border: 2px solid #5b85f8;
    background-color: rgb(214, 214, 214);
}

#dropdown {
    width: 400px;
    position: fixed;
    right: 0px;
    top: 0;
    font-size: 24px;
    z-index: 200;
    transition: all 0.2s linear;
}

#dropdown.hideDrop{
    right: -404px;
}

.speaker-time {
    font-weight: bold;
}

.speaker {
    padding: 5px;
}

.speaker:not(:first-child) {
    border-top: 1px solid black;
}

.speaker-top {
    display: flex;
    min-height: 28px;
}

.speaker-preset {
    text-align: left;
    margin-top: 5px
}

.speaker-name {
    text-align: left;
    width: 100%;
    font-weight: bold;
}

.speaker-name input {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Noto Sans TC', 'Open Sans';
    border-bottom: 1px solid black;
    width: 196px;
    padding-left: 4px;
}

.speaker-time {
    text-align: right;
}

img.up {
    transform: rotate(180deg);
    transition: all 0.2s linear;
}

img{
    transition: all 0.2s linear;
}

#dropdown ::placeholder{
    color: rgb(146, 146, 146);
}

img.right {
    transform: rotate(-90deg);
}

img.left{
    transform: rotate(90deg);
}

img.rotate45 {
    transform: rotate(45deg);
}

.speaker.selected {
    background-color: darkgrey;
}

.speaker:hover:not(.selected) {
    background-color: rgb(180, 180, 180);
}

#dropdown-users>.speaker.inFocus{
    background-color: rgb(155,166,243);;
}
#dropdown-control {
    display: flex;
}

#dropdown-control:not(.hide)~#dropdown-users>.speaker:first-child{
    border-top: 2px solid black;
}

#dropdown-control>div {
    width: 100%;
    padding: 10px 10px 5px 10px;
}

#dropdown-control img{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dropdown-control>div:hover {
    background-color: rgb(180, 180, 180);
}

#dropdown-add {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#urlControl {
    padding: 5px;
    position: relative;
    width: 30em;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

#controls {
    position: relative;
    width: 30em;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-red {
    border-top: 2px solid red;
}

#controls>div {
    width: 100%;
    margin: 5px 0;
}

.timeSelection {
    width: 15em;
}

#timeReadout {
    font-size: 30px;
}

#timeSettings>input {
    width: 4em;
}

#controlButtons>button {
    width: 5em;
}

#GreenTime {
    background-color: rgba(0, 255, 0, 0.5);
}

#YellowTime {
    background-color: rgba(255, 255, 0, 0.5);
}

#RedTime {
    background-color: rgba(255, 0, 0, 0.5);
}

#OverTime {
    background-color: rgb(255, 0, 0);
}

.hide {
    display: none !important;
}